{% extends 'app_001/base_001.html' %}
{% block body_block %}

    <!--Carousel Wrapper-->
    <div
        id="carousel-example-2"
        class="carousel slide carousel-fade z-depth-1-half"
        data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
            <li data-target="#carousel-example-2" data-slide-to="4"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img
                        class="d-block w-100"
                        src="static/img/main_slides/008hastingscol__.jpg"
                        alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive"></h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="view">
                        <img
                            class="d-block w-100"
                            src="static/img/main_slides/004construction__.jpg"
                            alt="Second slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive"></h3>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100" src="" alt="Third slide">
                                <div class="mask rgba-black-light"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive"></h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="view">
                                <img class="d-block w-100" src="" alt="Third slide">
                                    <div class="mask rgba-black-light"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive"></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="view">
                                    <img class="d-block w-100" src="" alt="Third slide">
                                        <div class="mask rgba-black-light"></div>
                                    </div>
                                    <div class="carousel-caption">
                                        <h3 class="h3-responsive"></h3>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a
                                class="carousel-control-prev"
                                href="#carousel-example-2"
                                role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a
                                class="carousel-control-next"
                                href="#carousel-example-2"
                                role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->

                        <!-- About Section -->
                        <section class="page-section about" id="about">
                            <div class="container">

                                <!-- About Section Heading -->
                                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>

                                <!-- Icon Divider -->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="">
                                        <i class=""></i>
                                    </div>
                                    <div class=""></div>
                                </div>
                                <br>
                                    <br>

                                        <!-- About Section Content -->
                                        <div class="row">
                                            <div class="col-lg-4 ml-auto">
                                                <p class="lead"></p>
                                            </div>
                                            <div class="col-lg-4 mr-auto">
                                                <p class="lead"></p>
                                            </div>
                                            <div class="col-lg-4 mr-auto">
                                                <p class="lead"></p>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- Portfolio Section -->
                                <section class="page-section bg-primary text-white mb-0" id="portfolio">
                                    <div class="container">

                                        <!-- Portfolio Section Heading -->
                                        <h2 class="page-section-heading text-center text-uppercase text-white">Portfolio</h2>

                                        <!-- Icon Divider -->
                                        <div class="divider-custom divider-light">
                                            <div class="divider-custom-line"></div>
                                        <div <i class=""></i>
                                    </div>
                                    <div class=""></div>
                                </div>
                                <br>
                                    <br>

                                        <!-- Portfolio Section Content -->

                                        <div class="container">
                                            <div class="row">

                                                <figure class="col-md-3">
                                                    <div id="wrapper">
                                                        <a href="{% url 'category_001' %}" class="hover">

                                                            <img
                                                                alt="picture"
                                                                src="https://i.ibb.co/DG1VYVv/catagorya.jpg"
                                                                class="img-fluid">
                                                                <p class="text">Category_001</p>
                                                            </a>

                                                        </div>
                                                    </figure>

                                                    <figure class="col-md-3">
                                                        <div id="wrapper">
                                                            <a href="" class="hover">

                                                                <img
                                                                    alt="picture"
                                                                    src="https://i.ibb.co/DG1VYVv/catagorya.jpg"
                                                                    class="img-fluid">
                                                                    <p class="text">Category_002</p>
                                                                </a>

                                                            </div>
                                                        </figure>

                                                        <figure class="col-md-3">
                                                            <div id="wrapper">
                                                                <a href="" class="hover">

                                                                    <img
                                                                        alt="picture"
                                                                        src="https://i.ibb.co/DG1VYVv/catagorya.jpg"
                                                                        class="img-fluid">
                                                                        <p class="text">Category_003</p>
                                                                    </a>

                                                                </div>
                                                            </figure>

                                                            <figure class="col-md-3">
                                                                <div id="wrapper">
                                                                    <a href="" class="hover">

                                                                        <img
                                                                            alt="picture"
                                                                            src="https://i.ibb.co/DG1VYVv/catagorya.jpg"
                                                                            class="img-fluid">
                                                                            <p class="text">Category_004</p>
                                                                        </a>

                                                                    </div>
                                                                </figure>

                                                            </div>
                                                        </div>

                                                    </section>

                                                    <!-- Prices Section -->
                                                    <section>

                                                        <!-- Prices Section Heading -->
                                                        <div
                                                            id="carousel-example-2"
                                                            class="carousel slide carousel-fade z-depth-1-half"
                                                            data-ride="carousel">

                                                            <div class="carousel-inner" role="listbox">
                                                                <div class="carousel-item active">
                                                                    <div class="view">
                                                                        <img
                                                                            class="d-block w-100"
                                                                            src="static/img/main_slides/008hastingscol__.jpg"
                                                                            alt="First slide">
                                                                            <div class="mask rgba-black-light"></div>
                                                                        </div>
                                                                        <div class="carousel-caption">
                                                                            <h3 class="h3-responsive"></h3>
                                                                        </div>
                                                                    </div>
                                                                    <div class="carousel-item">
                                                                        <div class="view">
                                                                            <img
                                                                                class="d-block w-100"
                                                                                src="static/img/main_slides/004construction__.jpg"
                                                                                alt="Second slide">
                                                                                <div class="mask rgba-black-light"></div>
                                                                            </div>
                                                                            <div class="carousel-caption">
                                                                                <h3 class="h3-responsive"></h3>
                                                                            </div>
                                                                        </div>
                                                                        <div class="carousel-item">
                                                                            <div class="view">
                                                                                <img class="d-block w-100" src="" alt="Third slide">
                                                                                    <div class="mask rgba-black-light"></div>
                                                                                </div>
                                                                                <div class="carousel-caption">
                                                                                    <h3 class="h3-responsive"></h3>
                                                                                    <p></p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="carousel-item">
                                                                                <div class="view">
                                                                                    <img class="d-block w-100" src="" alt="Third slide">
                                                                                        <div class="mask rgba-black-light"></div>
                                                                                    </div>
                                                                                    <div class="carousel-caption">
                                                                                        <h3 class="h3-responsive"></h3>
                                                                                        <p></p>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="carousel-item">
                                                                                    <div class="view">
                                                                                        <img class="d-block w-100" src="" alt="Third slide">
                                                                                            <div class="mask rgba-black-light"></div>
                                                                                        </div>
                                                                                        <div class="carousel-caption">
                                                                                            <h3 class="h3-responsive"></h3>
                                                                                            <p></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--/.Slides-->
                                                                                <!--Controls-->
                                                                                <a
                                                                                    class="carousel-control-prev"
                                                                                    href="#carousel-example-2"
                                                                                    role="button"
                                                                                    data-slide="prev">
                                                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                    <span class="sr-only">Previous</span>
                                                                                </a>
                                                                                <a
                                                                                    class="carousel-control-next"
                                                                                    href="#carousel-example-2"
                                                                                    role="button"
                                                                                    data-slide="next">
                                                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                    <span class="sr-only">Next</span>
                                                                                </a>
                                                                                <!--/.Controls-->

                                                                            </section>
                                                                        </-- Contact Section -->
                                                                        <!-- Contact Section -->

                                                                        <section class="page-section bg-primary text-white mb-0" id="contact">
                                                                            <div class="container">

                                                                                <!-- Contact Section Heading -->
                                                                                <h2 class="page-section-heading text-center text-uppercase text-white">Contact Me</h2>

                                                                                <!-- Icon Divider -->
                                                                                <div class="divider-custom divider-light">
                                                                                    <div class="divider-custom-line"></div>
                                                                                <div <i class=""></i>
                                                                            </div>
                                                                            <div class=""></div>
                                                                        </div>
                                                                        <br>
                                                                            <br>

                                                                                <!-- Contact Section Content -->

                                                                            </div>

                                                                            <div class="center-form">
                                                                                <form onsubmit="return sendMail(this);" method="POST">
                                                                                    <input
                                                                                        type="text"
                                                                                        name="name"
                                                                                        class="form-control"
                                                                                        id="fullname"
                                                                                        placeholder="Name"
                                                                                        required="required"/>
                                                                                    <input
                                                                                        type="text"
                                                                                        name="emailaddress"
                                                                                        class="form-control"
                                                                                        id="emailaddress"
                                                                                        placeholder="Email"
                                                                                        required="required"/>
                                                                                    <textarea
                                                                                        rows="5"
                                                                                        name="projectsummary"
                                                                                        class="form-control"
                                                                                        id="projectsummary"
                                                                                        placeholder="Message"
                                                                                        required="required"></textarea>
                                                                                    <br>
                                                                                        <button type="submit" class="btn btn-secondary center-block">Send Message</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>

                                                            {% endblock %}