{% extends 'app_001/base_003.html' %}
{% block body_block %}

<section class="page-section about" id="architecture">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="cat-heading page-section-heading text-center text-uppercase text-secondary mb-0">Shop</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
           
        </div>
        



   



    <div class="row">
{% for product in products %}
        <figure class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div id="wrapper-002"> 
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    
                        
                <h3 class="text-002 lead">{{product.name}}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                    <div class="input-group-001">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity"><br>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button><br>
                        </span><br>

                    </div>
                </div>

                </form>
                    
            </div>
            
        </figure>
     {% endfor %}
     </div>
     <br><br>
</div>

{% endblock %}